## QUİZ

In [2]:
#1- "BMW, Mercedes, Opel, Mazda" elemanlarına sahip bir liste oluşutrunuz.

car = ["BMW", "Mercedes", "Opel", "Mazda"]
print (car)
print (type (car))

['BMW', 'Mercedes', 'Opel', 'Mazda']
<class 'list'>

In [4]:
#2- Liste kaç elemanlıdır?

print (len(car))

4

In [6]:
#3- Listenin ilk ve son elemanı nedir?

print (car[0])
print (car [3])

BMW
Mazda

In [8]:
#4- Mazda değerini Toyota ile değiştirin.

car [-1] = 'Toyota'
print (car)

['BMW', 'Mercedes', 'Opel', 'Toyota']

In [10]:
#5- Mercedes listenin bir elemanı mıdır?

result = 'Mercedes' in car
print (result)

True

In [12]:
#6- Listenin -2 indeksindeki değer nedir?

result1 = car [-2]
print (result1)

Opel

In [16]:
#7- Listenin ilk 3 elemanını alınız.

result2 = car[0] + ' ' + car[1] + ' ' + car[2]
print (result2)

result3 = car [0:3]
print (result3)

BMW Mercedes Opel
['BMW', 'Mercedes', 'Opel']

In [18]:
#8- Listenin son 2 elemanı yerine "Toyota" ve "Renault" değerini girin.

car[3] = 'Renault'
car[2] = 'Toyota'
print (car)

car [-2:] = ['Toyota' , 'Renault']
print (car)

['BMW', 'Mercedes', 'Toyota', 'Renault']
['BMW', 'Mercedes', 'Toyota', 'Renault']

In [20]:
#9- Listenin üzerine "Audi" ve "Nissan" değerlerini ekleyin.

result4 = car + ['Audi'] + ['Nissan']
print (result4)

['BMW', 'Mercedes', 'Toyota', 'Renault', 'Audi', 'Nissan']

In [22]:
#10- Listenin son elemanını siliniz.

result4 = car + ['Audi'] + ['Nissan']
print (result4 [0:5])

['BMW', 'Mercedes', 'Toyota', 'Renault', 'Audi']

In [24]:
#11- Liste elemanlarını tersten yazdırınız.

print (result4[::-1])

['Nissan', 'Audi', 'Renault', 'Toyota', 'Mercedes', 'BMW']

In [26]:
#12-  Aşağıdaki verileri bir liste içinde saklayınız.

        # studentA: Yiğit Bilgi 2010, (70,60,70)
        # studentB: Sena Turan 1999, (80,80,70)
        # studentC: Ahmet Turan 1998, (80,70,90)

studentA = ['Yiğit', 'Bilgi', 2010, (70,60,70)]
print (studentA)

studentB = ['Sena', 'Turan', 1999, (80,80,70)]
print (studentB)

studentC = ['Ahmet', 'Turan', 1998, (80,70,90)]
print (studentC)

students = [studentA] + [studentB] + [studentC]
print (students)

['Yiğit', 'Bilgi', 2010, (70, 60, 70)]
['Sena', 'Turan', 1999, (80, 80, 70)]
['Ahmet', 'Turan', 1998, (80, 70, 90)]
[['Yiğit', 'Bilgi', 2010, (70, 60, 70)], ['Sena', 'Turan', 1999, (80, 80, 70)], ['Ahmet', 'Turan', 1998, (80, 70, 90)]]

In [28]:
#13-  Liste elemanlarını ekrana yazdırınız.

name = studentA [0]
surname = studentA [1]
dogumyılı = studentA [2]
puanı = studentA [3]

print (name)
print (surname)
print (dogumyılı)
print (puanı)

Yiğit
Bilgi
2010
(70, 60, 70)